@use '../utils' as *;

.back-to-top {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: z(back-to-top);
  min-width: rem(48px);
  min-height: rem(48px);
  padding: 0 rem(16px);
  box-shadow: var(--color-shadow-fab);
  font-size: $fs-small;
  font-weight: 600;

  @include respond-to(desktop) {
    right: 32px;
    bottom: 32px;
  }
}
