@use '../utils' as *;

body {
  font-family: $font-base;
  color: var(--color-text);
  background: var(--color-bg);
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
